@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");
/* Hover Transistion */
/* Custom scroll Bar */
/* User Image Border Shape */
*, ::before, ::after { box-sizing: border-box; }

body { background-color: #ffffff; font-family: "Inter", sans-serif; font-size: 16px; overflow-x: hidden; }

/* width */
::-webkit-scrollbar { width: 10px; }

/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb { background: #b6b5b5; border-radius: 25px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

h1, h2, h3, h4, h5, h6, p { margin-bottom: 0; }

p { font-size: 16px; font-weight: 400; line-height: 24px; color: #111111; }

img, svg { max-width: 100%; }

a { text-decoration: none; }

a:hover { text-decoration: none; }

ul { margin: 0; padding: 0; }

li { list-style: none; }

:focus { outline: none !important; }

input:focus, select:focus { outline: none !important; box-shadow: none !important; border: 1px solid black !important; }

textarea:focus { box-shadow: none !important; outline: none !important; }

.btn:focus { outline: none !important; box-shadow: none !important; }

button:focus { outline: none !important; box-shadow: none !important; }

button { border: none !important; }

button:hover { border: none !important; }

*::placeholder { font-weight: normal; font-size: 13px; color: #111111; }

*::-moz-placeholder { font-weight: normal; font-size: 13px; color: #111111; }

/*  Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

/* Firefox */
input[type="number"] { -moz-appearance: textfield; }

/* Common Class */
@media all and (max-width: 575px) { .container { transition: 0.5s; padding-left: 16px !important; padding-right: 16px !important; } }

.bottom_text_info { font-weight: 500; font-size: 12px; line-height: 18px; text-align: center; text-decoration-line: underline; color: #f84f4f; width: 100%; display: inline-block; }

.bottom_text_info:hover { color: rgba(248, 79, 79, 0.8); }

.skew_hover_effect { position: relative; overflow: hidden; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }

.skew_hover_effect:hover::before { left: 140%; opacity: 1; visibility: visible; }

.skew_hover_effect::before { content: " "; position: absolute; left: -100%; top: 0; width: 100%; height: 120%; background: #e5e5e547; transform: skew(45deg); -webkit-transform: skew(45deg); -moz-transform: skew(45deg); -ms-transform: skew(45deg); -o-transform: skew(45deg); transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; opacity: 0; visibility: hidden; }

#headerNav.sticky { box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2); background-color: #d4dcff !important; }

#headerNav.sticky nav li a { color: #111 !important; }

.boxShadow { box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2); background-color: #d4dcff !important; }

.video-modal .modal-body { padding: 0; }

.heading-default { font-style: normal; font-weight: 600; font-size: 40px; line-height: 48px; color: #35346E; }

@media all and (max-width: 767px) { .heading-default { font-size: 26px; line-height: 35px; } }

/*# sourceMappingURL=main.css.map */