.header-wrapper {
    background-color: $color-white;
    position: relative;

    @media (max-width: 991px) {
        background-color: $color-primary;
    }

    .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-content {
        width: 100%;
    }

    .logo-wrapper {
        min-width: 310px;
        background-color: $color-white;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        border-right: 1px solid $color-primary;

        @media (max-width: 767px) {
            min-width: 250px;
        }

        @media (max-width: 400px) {
            min-width: 180px;
        }
    }

    .menu-wrapper {
        width: 100%;

        @media (max-width: 991px) {
            display: none !important;
        }
    }

    // TOP BAR
    .top-menu {
        padding: 5px 50px;
        border-bottom: 1px solid $color-primary;

        @media (max-width: 1082px) {
            padding: 5px 25px;
        }
    }

    .contact-info {
        .contact-item {
            font-size: 14px;
            color: $color-primary;
            font-weight: 300;
            position: relative;
            margin-right: 25px;

            @media (max-width: 1146px) {
                margin-right: 10px;
            }

            &:not(:last-child) {
                padding-right: 25px;

                @media (max-width: 1146px) {
                    padding-right: 10px;
                }
            }

            &:not(:last-child)::after {
                content: "";
                width: 1px;
                height: 20px;
                background-color: $color-primary;
                position: absolute;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }

            .item-icon {
                color: $color-secondary;
                margin-right: 5px;
            }
        }
    }

    .working-days {
        span {
            color: $color-primary;
            font-size: 14px;
            font-weight: 300;
        }
    }

    // MAIN MENU
    .main-menu {
        .menu-items {
            line-height: 1;
        }

        .menu-item {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 45px;
            }
        }

        .menu-link {
            display: inline-block;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            color: $color-primary;
            overflow: hidden;
        }

        .main-menu-left {
            padding: 23px 50px;
        }
    }

    .header-button {
        background-color: $color-yellow;
        color: $color-white;
        min-width: 240px;
        padding: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        border-left: 1px solid $color-primary;
    }
}

// MOBILE MENU
#hamburger {
    color: $color-white;
    font-size: 30px;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;

    @media (max-width: 991px) {
        display: block !important;
    }

    @media (max-width: 575px) {
        right: 20px;
    }

    i {
        cursor: pointer;
    }
}

// MOBILE NAV
.mobile-nav-wrapper {
    .mobile-nav {
        position: fixed;
        right: -540px;
        top: 0;
        width: 500px;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;
        transition: right 0.5s ease-in;
        background-color: $color-secondary;
        padding: 20px;
        z-index: 9999;
        box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);

        @media (max-width: 767px) {
            width: 320px;
            right: -440px;
        }

        &.show {
            right: 0px;
        }

        .close-nav {
            border: 0;
            background: transparent;
            color: #fff;
            border-radius: 30px;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 10px;
        }

        /* Vertical Menu Style */
        .sidebar-nav {
            margin-top: 30px;

            .mobile-nav-button {
                background-color: $color-yellow;
                border: none;
                font-weight: 400;
                padding: 15px 30px;
            }
        }

        .sidebar-nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
        }

        .sidebar-nav .metismenu {
            display: flex;
            flex-direction: column;
        }

        .sidebar-nav .metismenu > li {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .sidebar-nav .metismenu a {
            font-size: 16px;
            position: relative;
            display: block;
            padding: 10px 15px;
            transition: all 0.3s ease-out;
            text-decoration: none;
            color: #fff;
            outline-width: 0;
            text-transform: capitalize;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        .sidebar-nav .metismenu ul a {
            padding: 10px 15px 10px 35px;
            position: relative;

            &:hover {
                padding-left: 40px;
                &::before {
                    background-color: #fff;
                }
            }

            &::before {
                position: absolute;
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #fff;
                content: "";
                top: 50%;
                transition: all 0.3s ease-in-out;
                transform: translateY(-50%);
            }
        }

        .sidebar-nav .metismenu ul ul {
            list-style-type: circle !important;
        }

        .sidebar-nav .metismenu ul ul a {
            padding: 10px 15px 10px 45px;
        }

        .sidebar-nav .metismenu a:hover,
        .sidebar-nav .metismenu a:focus,
        .sidebar-nav .metismenu a:active {
            text-decoration: none;
            color: #f8f9fa;
            background: $color-primary;
        }
    }

    .action-bar {
        margin-top: 30px;
        padding-left: 20px;
        a {
            color: #fff;
            display: block;
            margin-top: 12px;

            i {
                margin-right: 10px;
            }

            &.theme-btn {
                text-align: center;
            }
        }
    }

    .social-icons {
        font-size: 16px;
        color: $color-gray;
        cursor: pointer;
        margin: 30px 0px;

        a {
            margin-right: 20px;
        }
    }
}
