.hero-wrapper {
    height: 100%;
    position: relative;

    .hero-overlay {
        background-color: rgba(53, 52, 110, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .hero-top {
        height: 100%;
        position: relative;

        .hero-divider {
            position: absolute;
            right: 50px;
            top: 40%;

            .rec {
                width: 8px;
                height: 8px;
                background-color: white;
                position: relative;

                &::after,
                &::before {
                    content: "";
                    width: 2px;
                    height: 90px;
                    background-color: white;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &::after {
                    top: 20px;
                }

                &::before {
                    bottom: 20px;
                }
            }
        }

        .rec-2,
        .rec-3 {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: white;
            right: 50px;

            &.selected {
                background-color: $color-yellow;
            }
        }

        .rec-2 {
            top: 21%;
        }

        .rec-3 {
            top: 59%;
        }
    }

    .hero-bottom {
        position: absolute;
        bottom: -2px;
        right: 0;
        left: 0;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
            justify-content: center;
        }

        .content-left {
            min-width: 50%;
            min-height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 50px;

            @media (max-width: 575px) {
                padding: 0 20px;
            }

            .social-item {
                position: relative;

                &:not(:last-child) {
                    margin-right: 60px;

                    @media (max-width: 1020px) {
                        margin-right: 40px;
                    }

                    @media (max-width: 575px) {
                        margin-right: 30px;
                    }
                }

                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: $color-white;
                    position: absolute;
                    left: -10px;
                    bottom: 10px;
                }
            }

            .social-link {
                font-size: 32px;
                font-weight: 500;

                &:hover {
                    color: $color-yellow;
                }

                @media (max-width: 600px) {
                    font-size: 20px;
                }

                @media (max-width: 360px) {
                    font-size: 16px;
                }
            }
        }

        .content-right {
            min-width: 50%;
            min-height: 120px;
            background-color: $color-light-gray;
            display: flex;
            justify-content: start;
            padding: 20px 60px;

            @media (max-width: 1300px) {
                min-width: 30%;
            }

            @media (max-width: 991px) {
                justify-content: center;
            }

            @media (max-width: 575px) {
                padding: 20px 20px;
            }

            .hero-button {
                font-size: 32px;
                font-weight: 500;
                color: $color-primary;
                display: flex;
                align-items: center;

                &:hover {
                    color: $color-yellow;
                }

                .icon {
                    margin-left: 20px;
                }

                @media (max-width: 600px) {
                    font-size: 20px;
                }
            }
        }
    }
}

/* ====================================================
    HERO TWO
 ====================================================== */
.hero-v2-wrapper {
    padding: 60px 0px;

    @media (max-width: 575px) {
        padding-bottom: 50px;
    }

    .hero-heading {
        color: $color-primary;
    }

    .left-content {
        .body-text {
            width: 80%;
        }
    }

    .right-content {
        width: 100%;

        @media (max-width: 991px) {
            margin-top: 50px;
        }

        .hero-illustration {
            width: 100%;
            height: 100%;
        }
    }

    .buttons-wrapper {
        .button {
            @media (max-width: 320px) {
                display: block;
                margin-right: 0;
                margin-bottom: 5px;
                text-align: center;
            }
        }
    }
}
