.blog-details {
    padding: 70px 0;
    @include media('sm') {
        padding: 30px 0;
    }
    .blog-details-grid {
        display: grid;
        gap: 40px;
        grid-template-columns: 1.8fr 1fr;
        @include media('sm') {
            gap: 20px;
            grid-template-columns: 1fr;
        }
        .right {
            .right-grid {
                display: grid;
                gap: 25px;
                grid-template-columns: 1fr 1.8fr;
                @include media('sm') {
                    gap: 15px;
                    grid-template-columns: 1fr 1fr;
                }
                .content {
                    h6 {
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 18px;
                        color: #000000;
                    }
                    p {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 18px;
                        color: #000000;
                        padding-top: 15px;
                    }
                }
            }
            
        }
        .left {
            .content {
                padding-top: 30px;
                h6 {
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: left;
                    color: #000000;
                    padding-bottom: 20px;
                    @include media('sm') {
                        font-size: 22px;
                        line-height: 25px;
                    }
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                    @include media('sm') {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .main-content {
                    padding-top: 30px;
                }
            }
        }
    }
}