/* ====================================================
    HEADINGS AND TEXT
 ====================================================== */
.heading-1 {
    font-size: 48px;
    font-weight: 600;
    color: $color-dark;
    line-height: 58px;

    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 43px;
    }

    &.light {
        color: $color-white;
    }
}

.heading-2 {
    font-size: 40px;
    font-weight: 600;
    color: $color-dark;
    line-height: 50px;

    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 43px;
    }

    &.blue {
        color: $color-primary;
    }
}

.heading-3 {
    font-size: 25px;
    font-weight: 600;
    color: $color-dark;
    line-height: 35px;

    &.blue {
        color: $color-primary;
    }
}

.body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-dark;

    &.light {
        color: $color-white;
    }

    &.blue {
        color: $color-primary;
    }
}

/* ====================================================
    BUTTONS
 ====================================================== */

.button {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;

    @media (max-width: 767px) {
        font-size: 16px;
    }

    &.button-primary {
        padding: 10px 20px;
        background-color: $color-primary;
        border: 2px solid transparent;
        color: $color-white;
        border-radius: 10px;
    }

    &.button-secondary {
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
        border-radius: 10px;
    }

    &.play-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        background-color: $color-white;
        color: $color-primary;
        border-radius: 50%;
        -webkit-animation: playVideo infinite 3.5s;
        animation: playVideo infinite 3s;

        @media (max-width: 575px) {
            height: 60px;
            width: 60px;
        }

        .play-icon {
            font-size: 30px;
            color: $color-secondary;

            @media (max-width: 575px) {
                font-size: 16px;
            }
        }
    }
}

/* ====================================================
    GRADIENT CIRCLE
 ====================================================== */
// .orange-circle {
//     width: 730px;
//     height: 730px;
//     border-radius: 50%;
//     background: rgba(249, 172, 73, 0.22);
//     filter: blur(100px);
// }
