/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need
 -------------------------------------------------------------------- */

// COLORS
$color-primary: rgba(53, 52, 110, 1);
$color-secondary: rgba(119, 100, 172, 1);
$color-yellow: rgba(249, 172, 73, 1);
$color-light-gray: rgba(212, 220, 255, 1);
$color-gray: #444444;
$color-gray-2: #ccddf6;
$color-white: #ffffff;
$color-dark: #050408;

// GRADIENT COLORS
$gradient-color-1: linear-gradient(180deg, rgba(239, 239, 239, 0.42) 0%, rgba(239, 239, 239, 0.07) 100%);

// BOX SHADOWS
$box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
