.heading-default {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #35346E;
    @include media('sm') {
        font-size: 26px;
        line-height: 35px;
    }
}