// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$body-bg: #ffffff;
$white: #ffffff;
$brand-color:  #078CA9;
$brand-color-light:  #0A4A6F;
$secondary-brand-color:  #DBF3FF;